@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    line-height: 2em;
    background-color: white;
}

a {
    color: rgb(83, 35, 165);

}

/* svg {
    position: sticky;
    position: -webkit-sticky;
} */

.whole {
    position: relative;
}

h1 {
    color: rgb(37, 12, 80);
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 12%;
    margin-left: 12%;
}


h2 {
    font-size: 35px;
    padding-bottom: 1%;
    padding-top: 5%;
    color: #edbe02;
    text-align: center;
    font-weight: bold;

}

.mapText {
    font-family: 'Roboto Slab', serif;    
    color: rgb(37, 12, 80);
    font-size: 15px;
}

.tooltip {
    grid-area: tooltip;
    background-color: #676d70;
    border-radius: 10px;
    padding: 15px;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.tooltipText {
    color: white;
}

.subhead {
    font-family: 'Roboto Slab', serif;    
    font-size: 18px;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    /* padding-bottom: 20px; */
    padding-bottom: 2%;
    font-style: italic;
}

.subhead2 {
    font-family: 'Roboto Slab', serif;    
    font-size: 17px;
    padding-left: 23%;
    padding-right: 23%;
    padding-bottom: 4%;
}
/* .content {
    line-height: 170%;
    font-size: 18px;
    margin: 0 1em;
    letter-spacing: 0.02em;
    max-width: 40em
} */

/* img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

.profilePic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profilePicMayoral {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#hover {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Roboto Slab', serif;     */
    font-size: 26px;
    text-align: center;
    color: rgb(37, 12, 80);
    animation-name: example;
    animation-duration: 5s;
}

.neighborhoodClass {
    text-align: center;
    font-style: italic;
}

.nameClass {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;    
    font-size: 20px;
    text-align: center;
    color: rgb(37, 12, 80);
}

.websiteClass {
    text-align: center;
}

#mapid { 
    height: 600px; 
}

@keyframes example {
    from {color: #cacaca;}
    to {color: rgb(37, 12, 80);}
}
  
.fa-angle-down {
	text-align: center;
	font-size: 1.5em;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
	animation-name: fa-angle-down;
	animation-timing-function: ease;
}

@keyframes fa-angle-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.icon {
    text-align: center;
}

.end {
    text-align: center;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 5%;
    color: rgb(37, 12, 80);
}

a {
    text-decoration: none;
}

#disclaimer {
    text-align: center;
    font-family: 'Roboto Slab', serif;    
    font-weight: lighter;
}

.sticky-container {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
.sticky-content {
    padding: 2%;
    /* background-color: #f3f3f3; */
    border: 1px solid rgb(214, 214, 214);
    border-radius: 8px;
    position: relative;
    display: flex;
    flex: 1 0 30%;
    flex-direction: column;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}
  
.sticky-graphic {
    z-index: -100;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 100vh;
    flex: 1 0 70%;
    text-align: center;
    box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
}
/* 
#learnMore {
    text-align: center;
} */

.center {
    margin-top: 4%;
    margin-bottom: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.menu {
    color: rgb(37, 12, 80);
    font-size: 14px;
}

.decline {
    font-style: italic;
    font-size: 13px;
    color: rgb(37, 12, 80);
}

hr.menuLine {
    border: 1px solid #ffde59;
    opacity: 0.8;
}

.tagline {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: grey;
    text-align: center;
    padding-top: 4%;
}

.category {
    padding-top: 3%;
    color: rgb(37, 12, 80);
}

.box {
    text-align: center;
    /* border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 8px 16px 0 rgba(109, 109, 109, 0.5); */
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
}

.boxM {
    text-align: center;
    /* border: 1px solid rgb(224, 224, 224);
    box-shadow: 0 8px 16px 0 rgba(109, 109, 109, 0.5); */
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid rgb(214, 214, 214);
}

.atlarge {
    padding-left: 10%;
    padding-right: 10%;
}

.confinesClass {
    text-align: center;
    font-size: 14px;
}

.profilePic:hover {
    box-shadow: 5px 12px 25px 5px rgba(89, 89, 90, 0.9);
}

.byline {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: rgb(37, 12, 80);
    opacity: 0.9;
}

.title {
    font-style: italic;
    font-family: 'Roboto Slab', serif;    
    padding-top: 7px;
    padding-bottom: 7px;
    color: rgb(37, 12, 80);

}

.bioList {
    text-align: left;
}