@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 3%;
    margin-right: 7%;
    width: 90%;
    line-height: 2em;
    background-color: #dbdbdb;
}
svg {
    position: fixed;
    z-index: 1;
    padding-top: 10%;
}

h1 {
    color: rgb(37, 12, 80);
    font-size: 50px;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    z-index: 0;
}



.text {
    font-family: 'Roboto Slab', serif;    
    color: rgb(37, 12, 80);
    font-size: 15px;
}

.tooltip {
    grid-area: tooltip;
    background-color: #676d70;
    border-radius: 10px;
    padding: 15px;
    font-size: 11pt;
    font-family: 'Roboto', sans-serif;
    line-height: 150%;
}

.tooltipText {
    color: white;
}

.two-column {
    /* margin-top: 8em; */
    position: relative;

}

.content {
    line-height: 170%;
    font-size: 18px;
    margin: 0 1em;
    letter-spacing: 0.02em;
    max-width: 40em
}

.right-col {
    z-index: 100;
    top: 0;
}

/* aside p {
    margin-top: 10em;
} */

.container {
    display: flex;
    justify-content: center;
}

#info {
    padding-left: 1%;
    padding-left: 5%;
    padding-top: 10%;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hover {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: center;
    color: rgb(37, 12, 80);

}

.neighborhood {
    text-align: center;
    font-style: italic;
}

.name {
    font-weight: bold;
    font-family: 'Roboto Slab', serif;    
    font-size: 20px;
    text-align: center;
    color: rgb(37, 12, 80);

}

#mapid { 
    height: 600px; 
}

#hover1 {
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {color: #dbdbdb;}
    to {color: rgb(37, 12, 80);}
}
  
.fa-angle-down {
	height: 100px;
	text-align: center;
	font-size: 1.5em;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
	animation-name: fa-angle-down;
	animation-timing-function: ease;
}

@keyframes fa-angle-down {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.icon {
    text-align: center;
    margin-bottom: -20%;
}